@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap");

@import "./colors.scss";

* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: var(--black);
  margin: 0;
  @media only screen and (max-width: 970px) {
    font-size: 25px;
  }
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
  margin: 0;
  @media only screen and (max-width: 970px) {
    font-size: 12px;
  }
}

button {
  width: 257px;
  height: 61px;
  background-color: var(--primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #e24832;
  }
}

.p-label {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.34;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.br-8 {
  border-radius: 8px;
}

.mb-45 {
  margin-bottom: 45px;
}

.form-group {
  margin-top: 23px;
  .form-items {
    margin-bottom: 13px;
    position: relative;
    @media only screen and (max-width: 970px) {
      flex-wrap: wrap;
    }
    .card-type {
      width: auto;
      height: 20px;
      text-transform: uppercase;
      background-color: var(--black);
      position: absolute;
      top: 13px;
      right: 20px;
      padding: 0 10px;
      p {
        font-size: 12px;
        color: var(--white);
        font-weight: bold;
      }
    }
    .w-49 {
      width: 49%;
      @media only screen and (max-width: 970px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .w-30 {
      width: 30%;
      @media only screen and (max-width: 970px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .w-68 {
      width: 68%;
      @media only screen and (max-width: 970px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .slash {
      margin: 0 5px;
      margin-top: 10px;
    }
  }
}

input {
  width: 100%;
  height: 45px;
  background-color: var(--input);
  border: none;
  outline: none;
  padding: 0 23px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
  opacity: 0.5;
}

.form-error {
  font-size: 12px;
  color: red;
}
